# Import and clean restaurant data

In [4]:
getwd()
setwd("raw-output")

[1] "C:/Users/wue04/Box Sync/tacobell"

### suppress warnings messages

In [5]:
current_warning <- getOption("warn")
options(warn = -1)

### reset warning to normal

In [ ]:
options(warn = current_warning)

### read sample data

In [37]:
sample <- read.csv("restaurants.csv", sep = ";", header = FALSE, nrow=10, quote = "")
head(sample)
sapply(sample, class)

### read in data

In [6]:
# clean up restaurants
restaurants <- read.csv("restaurants.csv", sep = ";", header = FALSE, quote = "", stringsAsFactors=FALSE,
                        col.names = c("restid", "address1", "address2", "address3",
                                      "city", "county", "state", "zip", "lon", "lat",
                                      "open", "tempclose", "reopen", "close"))
head(restaurants)
length(unique(restaurants$restid))

  restid address1                  address2                   address3
1 36955  15311 ELLA BLVD           STOP N GO/NAT'L CONV STORE
2 38887  8808 BEACH BLVD           WAL-MART
3 49973  11800 ATLANTIC AVE
4 35069  601 12TH ST NW
5 41877  5729 WEST FRIENDLY AVENUE WILCO-GUILFORD COLLEGE
6 31941  28050 FORD ROAD           **OFFSET TO BE #017105**
  city             county           state zip   lon    lat open
1 HOUSTON                           TX    77090 0.0000 0   1993-05-20
2 JACKSONVILLE                      FL    32216 0.0000 0   0000-00-00
3 LYNWOOD                           CA    90262 0.0000 0   1966-09-15
4 WASHINGTON       DIST OF COLUMBIA DC    20005 0.0000 0   1991-03-06
5 GUILFORD COLLEGE                  NC    27410 0.0000 0   1995-06-19
6 GARDEN CITY      WAYNE            MI    48135 0.0000 0   1969-07-31
  tempclose  reopen     close
1 0000-00-00 0000-00-00 1999-12-01
2 0000-00-00 0000-00-00 0000-00-00
3 0000-00-00 0000-00-00 1987-09-15
4 0000-00-00 0000-00-00 1997-08-06
5 0000-00-00 0000-00-00 1998-03-26
6 0000-00-00 0000-00-00 1995-08-09

[1] 16978

### house cleaning

In [7]:
sapply(restaurants, class) # check variables types
restaurants[, c(1, 9:10)] <- lapply(restaurants[, c(1, 9:10)], as.numeric) # convert geo coordinates to numeric
restaurants[(100:120), ] #sanity check

convert_to_date <- function(x) {
    # replace 0000-00-00 dates as NA
    x[x=="0000-00-00"] <- NA
    # convert characters to dates
    x <- as.Date(x)
    return(x)
    print(class(x))
}
restaurants[, 11:14] <- lapply(restaurants[, 11:14], convert_to_date)
rm(convert_to_date)
sapply(restaurants, class) #check classes again
restaurants$address1[restaurants$address1=="N/A"] <- NA
restaurants$city[restaurants$city=="N/A"] <- NA
restaurants$zip[restaurants$zip==""] <- NA
restaurants <- restaurants[order(restaurants$open, restaurants$close), ]

     restid    address1    address2    address3        city      county
"character" "character" "character" "character" "character" "character"
      state         zip         lon         lat        open   tempclose
"character" "character" "character"   "numeric" "character" "character"
     reopen       close
"character" "character"

    restid address1                    address2          address3
100  39163 300 CLEVELAND
101 151667 650 COLUMBIA AVENUE         EXXON STATION     RAINBOW GAS GARDEN
102 150379 13350 DALLAS PARKWAY        GALLERIA DALLAS   LEVEL 3 FOOD PLACE
103 109698 3140 FM 1960 W
104  34241 3800 NORTHLAKE BLVD
105 118438 1075 W 4TH ST
106 150425 1850 MEMORIAL LANE
107 109744 942 SOUTHERN BLVD
108  34287 4152 STATE RT 34
109  43349 2075 BARNETT SHOALS ROAD
110  33413 212 THOMAS RD
111  35253 760 E MAIN ST.
112  45189 8249 N STEMMONS FWY.
113 151391 17610 US HIGHWAY 31 N
114  44499 101 SW FRONT STREET         BRITISH PETROLEUM
115 150701 2201 STATE ROAD HWY 60 EAST
116  34563 2995 COOK ROAD
117 150287 2105 CHESTER DRIVE
118  34149 696 E ST
119 119542 1300 GULFGATE CENTER MALL
120  33321 1345 N. MAIN ST.
    city               county       state zip        lon       lat
100 MUSCATINE          MUSCATINE    IA    52761       -91.0295 41.4524
101 CHAPIN             LEXINGTON    SC    29036       -81.3245 34.1761
102 DALLAS             DALLAS       TX    75240       -96.8208 32.9294
103 HUMBLE             HARRIS       TX    77338       -95.3769 30.0195
104 PALM BEACH GARDENS PALM BEACH   FL    33410       -80.0947 26.8083
105 RENO               WASHOE       NV    89503-5103 -119.8280 39.5266
106 WOOD RIVER         MADISON      IL    62095       -90.0679 38.8669
107 BRONX              BRONX        NY    10459       -73.8918 40.8210
108 HURRICANE          PUTNAM       WV    25526       -81.9381 38.4528
109 ATHENS             CLARKE       GA    30605       -83.3406 33.9233
110 WEST MONROE        OUACHITA     LA    71291       -92.1577 32.5106
111 MERIDEN            NEW HAVEN    CT    06450       -72.7780 41.5292
112 DALLAS             DALLAS       TX    75247-4107  -96.8727 32.8259
113 WESTFIELD          HAMILTON     IN    46074-9413  -86.1356 40.0431
114 BOARDMAN                        OR    97818         0.0000  0.0000
115 VALRICO            HILLSBOROUGH FL    33594         0.0000  0.0000
116 WEST BRANCH        OGEMAW       MI    48661       -84.2249 44.2488
117 RICHMOND           WAYNE        IN    47374       -84.8881 39.8618
118 CHULA VISTA        SAN DIEGO    CA    91910      -117.0970 32.6406
119 HOUSTON            HARRIS       TX    77087       -95.2974 29.6983
120 SALINAS            MONTEREY     CA    93906      -121.6520 36.7032
    open       tempclose  reopen     close
100 1999-03-03 2010-10-23 2010-11-19 0000-00-00
101 2009-05-22 0000-00-00 0000-00-00 0000-00-00
102 2006-10-16 0000-00-00 0000-00-00 2013-05-29
103 2003-02-19 0000-00-00 0000-00-00 2007-06-01
104 1987-11-02 2010-05-18 2010-05-21 0000-00-00
105 2001-11-30 0000-00-00 0000-00-00 0000-00-00
106 2006-08-23 0000-00-00 0000-00-00 2012-02-21
107 2000-02-01 0000-00-00 0000-00-00 2008-10-10
108 1987-12-16 2012-06-29 2012-07-01 0000-00-00
109 1998-12-09 0000-00-00 0000-00-00 2014-06-24
110 1985-03-27 2004-12-24 2005-05-15 0000-00-00
111 2001-04-25 0000-00-00 0000-00-00 2013-02-26
112 2002-05-15 0000-00-00 0000-00-00 2011-12-06
113 2008-12-23 0000-00-00 0000-00-00 2012-12-18
114 2001-03-01 0000-00-00 0000-00-00 2002-04-20
115 0000-00-00 0000-00-00 0000-00-00 2006-11-10
116 1988-12-13 2008-02-03 2008-05-14 0000-00-00
117 2006-04-19 0000-00-00 0000-00-00 0000-00-00
118 2001-06-13 0000-00-00 0000-00-00 2009-04-24
119 2001-11-15 2008-09-13 2008-09-19 0000-00-00
120 1984-12-06 2006-10-24 2007-02-18 2007-06-19

     restid    address1    address2    address3        city      county
  "numeric" "character" "character" "character" "character" "character"
      state         zip         lon         lat        open   tempclose
"character" "character"   "numeric"   "numeric"      "Date"      "Date"
     reopen       close
     "Date"      "Date"

In [8]:
restaurants[900:920, c(1:2, 5, 7:14)] #sanity check

      restid address1                city            state zip        lon
4910  32019  1529 CACHE ROAD         LAWTON          OK    73501         0.0000
13537 32009  2900 FAIRVIEW RD        COSTA MESA      CA    92626      -117.9080
5407  50081  15418 LASSEN STREET     MISSION HILLS   CA    91340         0.0000
10829 32004  4130 BOULDER HWY.       LAS VEGAS       NV    89121         0.0000
3832  44692  139 SOUTHWEST DRIVE     JONESBORO       AR    72401       -90.7060
14885 32016  923 S VAN BUREN         ENID            OK    73701         0.0000
810   32034  913 EDGEBROOK BLVD.     HOUSTON         TX    77034         0.0000
3889  46532  707 NORTH MINNESOTA     NEW ULM         MN    56073       -94.4662
490   32018  13360 EUREKA ROAD       SOUTHGATE       MI    48195         0.0000
638   32028  609 S MAIN ST           LOMBARD         IL    60148         0.0000
3291  44765  32 ADAMS STREET         IRON RIVER      MI    49935       -88.6387
4045  32025  18941 SOLEDAD CANYON RD CANYON COUNTRY  CA    91351-3361 -118.4660
6459  32041  9066 LONGPOINT ROAD     HOUSTON         TX    77055         0.0000
3309  32031  3801 W. 95TH STREET     EVERGREEN PARK  IL    60642         0.0000
5646  50085  7043 FOREST HILL AVE.   RICHMOND        VA    23225         0.0000
1712  32039  6407 STEARNS AVE.       LONG BEACH      CA    90815      -118.1080
2053  32035  15322 SANTA GERTRUDES   LA MIRADA       CA    90638         0.0000
14337 31741  2210 LAKEWOOD BLVD      LONG BEACH      CA    90815         0.0000
3229  32023  1535 E 12 MILE RD       MADISON HEIGHTS MI    48071         0.0000
2585  32027  2333 WASHTENAW AVE.     YPSILANTI       MI    48197         0.0000
5577  32045  300 S AIR DEPOT AVE.    MIDWEST CITY    OK    73110       -97.4061
      lat     open       tempclose  reopen     close
4910   0.0000 1972-02-25 <NA>       <NA>       1992-09-08
13537 33.6768 1972-02-25 <NA>       <NA>       2013-02-28
5407   0.0000 1972-02-26 <NA>       <NA>       1991-12-25
10829  0.0000 1972-05-03 <NA>       <NA>       1992-05-22
3832  35.8202 1972-05-05 <NA>       <NA>       <NA>
14885  0.0000 1972-05-07 <NA>       <NA>       1992-06-16
810    0.0000 1972-05-26 <NA>       <NA>       1994-03-16
3889  44.3202 1972-06-01 2011-08-21 2012-05-07 <NA>
490    0.0000 1972-06-16 <NA>       <NA>       1992-10-18
638    0.0000 1972-07-07 <NA>       <NA>       1990-10-14
3291  46.0926 1972-07-28 2005-10-30 2005-11-10 <NA>
4045  34.4160 1972-08-02 2011-04-02 2011-05-12 <NA>
6459   0.0000 1972-08-08 <NA>       <NA>       1990-02-16
3309   0.0000 1972-08-24 <NA>       <NA>       1993-12-21
5646   0.0000 1972-08-25 <NA>       <NA>       1987-09-01
1712  33.7954 1972-08-31 2012-01-31 2012-05-23 2012-10-02
2053   0.0000 1972-09-01 <NA>       <NA>       1993-06-10
14337  0.0000 1972-09-01 <NA>       <NA>       2001-02-23
3229   0.0000 1972-09-15 <NA>       <NA>       1995-11-01
2585   0.0000 1972-10-06 <NA>       <NA>       1997-01-22
5577  35.4618 1972-10-11 1997-09-16 1997-12-01 <NA>

In [9]:
# create index for restaurant status
# closed, planned, open
restaurants$status <- NULL
length(restaurants$restid)
restaurants$status[is.na(restaurants$close) & !is.na(restaurants$open)] <- "open"
restaurants$status[!is.na(restaurants$close)] <- "closed"
restaurants$status[is.na(restaurants$close) & is.na(restaurants$open)] <- "planned"
table(restaurants$status)

[1] 16980

 closed    open planned
   9679    6954     347

In [86]:
#write.csv(x=restaurants, file="restaurants-clean.csv", row.names=FALSE)

In [10]:
head(restaurants)

     restid address1                address2 address3 city
3647 33220  HAMMOND DRIVE                             SANDY SPRINGS
809  33782  5325 MEMORIAL DRIVE                       STONE MOUNTAIN
682  33730  ST. RT. 28 & CINEMA DR.                   MILFORD
1922 33832  2200 CLARK STREET                         LONG BEACH
654  34420  9TH & ALDER                               PORTLAND
7143 34585  536 GOLDEN GATE                           SAN FRANCISCO
     county        state zip        lon lat open       tempclose reopen
3647               GA    NA         0   0   1900-01-01 <NA>      <NA>
809                GA    NA         0   0   1900-01-01 <NA>      <NA>
682                OH    45150      0   0   1900-01-01 <NA>      <NA>
1922               CA    90815      0   0   1900-01-01 <NA>      <NA>
654                OR    NA         0   0   1900-01-01 <NA>      <NA>
7143 SAN FRANCISCO CA    94102-3221 0   0   1900-01-01 <NA>      <NA>
     close      status
3647 1983-04-27 closed
809  1986-02-11 closed
682  1986-04-11 closed
1922 1986-07-29 closed
654  1986-10-21 closed
7143 1986-11-19 closed

### clean up longitude and latitude data

In [15]:
summary(restaurants$lon)

    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.     NA's
 -159.38   -94.98   -82.50   -59.28     0.00 40213.00        5

In [16]:
summary(restaurants$lon[restaurants$lon>=0])

    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.     NA's
    0.00     0.00     0.00    14.44     0.00 40213.00        5

In [17]:
hist(restaurants$lon)

ERROR: Error in png(tf, width, height, "in", pointsize, bg, res, antialias = antialias): unable to start png() device

Plot with title "Histogram of restaurants$lon"